* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
}

#app {
  padding: 50px 0;
}

#app .control-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#app .control-container .input-inner #input-count {
  min-width: 160px;
  padding: 10px 15px;
  border-radius: 5px;
  background: none;
  outline: none;
  border: 1px solid #000;
}

#app .control-container button {
  outline: none;
  cursor: pointer;
  background: #6c6ce0;
  border: none;
  border-radius: 15px;
  padding: 9px 25px;
  font-size: 18px;
  font-weight: 400;
  transition: all ease .3s;
}

#app .control-container button:hover {
  background: #a0a0e2;
}

#app #image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #f8f8f8;
  margin: 50px auto;
  border-radius: 25px;
  overflow: scroll;
  max-height: 600px;
  width: auto;
  max-width: 1000px;
}

#app .info-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 25px;
}

#app .info-container #info-table {
  display: flex;
  flex-flow: column nowrap;
}

#app .info-container #info-table .title-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid black;
}

#app .info-container #info-table .title-wrap span {
  display: block;
  width: 33.333%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

#app .info-container #info-table table td {
  width: 33.333%;
  text-align: center;
}
