* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
}

#app {
    padding: 50px 0;

    .control-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;

        .input-inner {
            #input-count {
                min-width: 160px;
                padding: 10px 15px;
                border-radius: 5px;
                background: none;
                outline: none;
                border: 1px solid #000;
            }
        }

        button {
            outline: none;
            cursor: pointer;
            background: rgb(108, 108, 224);
            border: none;
            border-radius: 15px;
            padding: 9px 25px;
            font-size: 18px;
            font-weight: 400;
            transition: all ease .3s;
            &:hover {
                background: rgb(160, 160, 226);
            }
        }
    }

    #image-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        background: #f8f8f8;
        margin: 50px auto;
        border-radius: 25px;
        overflow: scroll;
        max-height: 600px;
        width: auto;
        max-width: 1000px;
    }

    .info-container {
        width: 80%;
        margin: 0px auto;
        padding: 20px;
        background: #f8f8f8;
        border-radius: 25px;

        #info-table {
            display: flex;
            flex-flow: column nowrap;

            .title-wrap {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 0 0 10px;
                margin: 0 0 10px;
                border-bottom: 1px solid black;

                span {
                    display: block;
                    width: 33.333%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            table {
                td {
                    width: 33.333%;
                    text-align: center;
                }
            }
        }
    }
}